{extends file='admin/layout.html'}
{block name=body}
<div id="content" class="container_16 clearfix">
    <div class="grid_16">
        <h2>相册ID : {$info.id}</h2>
        {if isset($smarty.get.error)}<p class="error">{$smarty.get.error}</p>{/if}
    </div>

   

	<div class="grid_8">
        <p>
            <label for="title">相册名称 <small>name.</small></label>
			<input type="text" name="info[name]" value="{$info.name}" readonly="readonly" style="color:#999;" />
        </p>
    </div>

	<div class="grid_8">
        <p>
            <label for="title">相册描述 <small>description.</small></label>
			<input type="text" name="info[description]" value="{$info.description}" readonly="readonly" style="color:#999;" />
        </p>
    </div>

 	<div class="grid_16">
        <p>
            <label for="title">上传图片 <small>upload.</small></label>
        </p>
    </div>

	<div id="container" class="grid_16">
	    <div id="filelist">No runtime found.</div>
	    <br />
	    <a id="pickfiles" href="javascript:;">[Select files]</a> 
	    <a id="uploadfiles" href="javascript:;">[Upload files]</a>
	</div>


	<script type="text/javascript">

	function $(id) {
		return document.getElementById(id);	
	}

	var uploader = new plupload.Uploader({
		runtimes : 'gears,html5,flash,silverlight,browserplus',
		browse_button : 'pickfiles',
		container: 'container',
		max_file_size : '10mb',
		url : '/?url=admin/image/upload.php&album_id={$info.id}',
		resize : { width : 320, height : 240, quality : 90 },
		flash_swf_url : '/js/plupload/plupload.flash.swf',
		silverlight_xap_url : '/js/plupload/plupload.silverlight.xap',
		filters : [
			{ title : "Image files", extensions : "jpg,gif,png" },
			{ title : "Zip files", extensions : "zip" }
		]

	});

	uploader.bind('Init', function(up, params) {
		$('filelist').innerHTML = "<div>Current runtime: " + params.runtime + "</div>";
	});

	uploader.bind('FilesAdded', function(up, files) {
		for (var i in files) {
			$('filelist').innerHTML += '<div id="' + files[i].id + '">' + files[i].name + ' (' + plupload.formatSize(files[i].size) + ') <b></b></div>';
		}
	});

	uploader.bind('UploadProgress', function(up, file) {
		$(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
	});

	$('uploadfiles').onclick = function() {
		uploader.start();
		return false;
	};

	uploader.init();

	</script>


</div>
{/block}